.search{
    margin-left: 400px;
    margin-top: 100px;
 }
 .name{
    
    margin-left: 400px;
    margin-top: 10px;
    
 
 }
 
 .company{
 
    margin-left: 400px;
    
    
 }
 
 .expiry{
 
    margin-left: 400px;
    
    
 }